body {
     margin: 0;
}

header {
     background-color: white;
     color: black;
     text-align: center;
     height: 60px;
     padding-top: 10px;
     padding-bottom: 20px;
     position: fixed;
     top: 0;
     width: 100%;
}

h1 {
     font-size: 30px;
}

/*Form styling: as a container*/
form {
     width: 390px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: chocolate;
     border: 3px solid wheat;
     border-radius: 10px;
     margin: 200px auto 100px auto;
     height: 390px;
}

[class*="cred-input"] {
     width: 270px;
     height: 20px;
     border: 1px solid black;
     border-radius: 6px;
     padding: 5px 10px 5px 10px;
     margin-bottom: 20px;
     font-style: oblique;
     border: none;
     outline: none;
}

label {
     font-size: large;
     margin-right: auto;
     margin-left: 50px;
     margin-bottom: 3px;
}


.div-1 {
     margin-right: auto;
     margin-left: 60px;  
}

[class*="checkbox"] {
     width: 13px;
     margin-bottom: 20px;
}

.btn-1 {
     background-color: whitesmoke;
     color: black;
}


.btn-2 {
      background-color: black;
      color: white;
}

.btn-1:hover {
     background-color: black;
     transition: 0.5s;
     color: white;
}

[class*=btn-2]:hover {
     background-color: white;
     transition: 0.5s;
     color: black;
}

.cred-input::selection {
     color: red;
     background-color: black;
}

.but {
     margin-top: 20px;
}