body {
     background-color: black;
     color: white;
     font-family: monospace;
}

button {
     width: 100px;
     height: 30px;
     text-align: center;
     border: 1px white solid;
     border-radius: 6px;
     padding: 10px 10px 28px 10px;
     font-weight: bolder;
     font-family: inherit;
     cursor: pointer;
     font-size: larger;
}

.btn-1:hover {
     background-color: black;
     transition: 0.5s;
     color: white;
}
