body {
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     background-image: url(../../20231111_182247.jpg);
     color: white;
     font-family: monospace;
     background-blend-mode: darken;
     background-color: aqua;

}

[class^="attach"] {
  background-image: url("https://edube.org/uploads/media/default/0001/03/eodg_grey_fav.png");
  background-attachment: fixed;
  background-size: 100000000000px;
}

form + [class$="inde-div"] {
     margin-top: 20px;
     border-top: white solid 1px;
}

[class$="button"] {
     width: 100px;
     height: 30px;
     text-align: center;
     border: 1px white solid;
     border-radius: 6px;
     padding: 10px 10px 28px 10px;
     font-weight: bolder;
     font-family: inherit;
     cursor: pointer;
     font-size: larger;
}

.btn-1:hover {
     background-color: black;
     transition: 0.5s;
     color: white;
}

[class$="button"]:hover {
     box-shadow: 2px 2px orange;
     transition: 0.3s;
}